{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">

<head>

    <!-- META ============================================= -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content=""/>
    <meta name="author" content=""/>
    <meta name="robots" content=""/>

    <!-- DESCRIPTION -->
    <meta name="description" content="EduChamp : Education HTML Template"/>

    <!-- OG -->
    <meta property="og:title" content="EduChamp : Education HTML Template"/>
    <meta property="og:description" content="EduChamp : Education HTML Template"/>
    <meta property="og:image" content=""/>
    <meta name="format-detection" content="telephone=no">

    <!-- FAVICONS ICON ============================================= -->
    <link rel="icon" href="{% static 'assets/images/favicon.ico' %}" type="image/x-icon"/>
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/images/favicon.png' %}"/>

    <!-- PAGE TITLE HERE ============================================= -->
    <title>EduChamp : {% trans 'About Us' %} </title>

    <!-- MOBILE SPECIFIC ============================================= -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--[if lt IE 9]>
    <script src="{% static 'assets/js/html5shiv.min.js' %}"></script>
    <script src="{% static 'assets/js/respond.min.js' %}"></script>
    <![endif]-->

    <!-- All PLUGINS CSS ============================================= -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/assets.css' %}">

    <!-- TYPOGRAPHY ============================================= -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/typography.css' %}">

    <!-- SHORTCODES ============================================= -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/shortcodes/shortcodes.css' %}">

    <!-- STYLESHEETS ============================================= -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/style.css' %}">
    <link class="skin" rel="stylesheet" type="text/css" href="{% static 'assets/css/color/color-1.css' %}">

    <!-- REVOLUTION SLIDER CSS ============================================= -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/vendors/revolution/css/layers.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/vendors/revolution/css/settings.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/vendors/revolution/css/navigation.css' %}">
    <!-- REVOLUTION SLIDER END -->
</head>
<body id="bg">
<div class="page-wraper">
    <div id="loading-icon-bx"></div>
    <!-- Header Top ==== -->
    {% include 'header.html' %}
    <!-- header END ==== -->
    <!-- Inner Content Box ==== -->
    <div class="page-content">
        <!-- Page Heading Box ==== -->
        <div class="page-banner ovbl-dark"
             style="background-image:url({% static 'assets/images/banner/banner2.jpg' %});">
            <div class="container">
                <div class="page-banner-entry">
                    <br><br><br><br>
                    <h1 class="text-white">{% trans 'About Us' %}</h1>
                </div>
            </div>
        </div>
        <div class="breadcrumb-row">
            <div class="container">
                <ul class="list-inline">
                    <li><a href="#">{% trans 'Home' %}</a></li>
                    <li>{% trans 'About Us' %}</li>
                </ul>
            </div>
        </div>
        <!-- Page Heading Box END ==== -->
        <!-- Page Content Box ==== -->
        <div class="content-block">
            <!-- About Us ==== -->
            <div class="section-area section-sp1">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3 col-md-6 col-sm-6 m-b30">
                            <div class="feature-container">
                                <div class="feature-md text-white m-b20">
                                    <a href="#" class="icon-cell"><img src="{% static 'assets/images/icon/icon1.png' %}"
                                                                       alt=""/></a>
                                </div>
                                <div class="icon-content">
                                    <h5 class="ttr-tilte">{% trans 'Our Philosophy' %}</h5>
                                    <p>{% trans 'Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibeuismod.' %}.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6 m-b30">
                            <div class="feature-container">
                                <div class="feature-md text-white m-b20">
                                    <a href="#" class="icon-cell"><img src="{% static 'assets/images/icon/icon2.png' %}"
                                                                       alt=""/></a>
                                </div>
                                <div class="icon-content">
                                    <h5 class="ttr-tilte">{% trans 'Kingsters Principle' %}</h5>
                                    <p>{% trans 'Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibheuismod..' %}</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6 m-b30">
                            <div class="feature-container">
                                <div class="feature-md text-white m-b20">
                                    <a href="#" class="icon-cell"><img src="{% static 'assets/images/icon/icon3.png' %}"
                                                                       alt=""/></a>
                                </div>
                                <div class="icon-content">
                                    <h5 class="ttr-tilte">{% trans 'Key Of Success' %}</h5>
                                    <p>{% trans 'Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibheuismod.' %}.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6 m-b30">
                            <div class="feature-container">
                                <div class="feature-md text-white m-b20">
                                    <a href="#" class="icon-cell"><img src="{% static 'assets/images/icon/icon4.png' %}"
                                                                       alt=""/></a>
                                </div>
                                <div class="icon-content">
                                    <h5 class="ttr-tilte">{% trans 'Our Philosophy' %}</h5>
                                    <p>{% trans 'Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibheuismod..' %}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- About Us END ==== -->
            <!-- Our Story ==== -->
            <div class="section-area bg-gray section-sp1 our-story">
                {% for rs in aboutus %}
                    <div class="container">
                        <div class="row align-items-center d-flex">
                            <div class="col-lg-5 col-md-12 heading-bx">
                                <h2 class="m-b10">{% trans 'About Us' %}</h2>
                                <h5 class="fw4">{{ rs.title }}</h5>
                                <p>L{{ rs.description }}</p>
                            </div>
                            <div class="col-lg-7 col-md-12 heading-bx p-lr">
                                <div class="video-bx">
                                    <img src="{{ rs.image.url }}" alt=""/>

                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <!-- Our Story END ==== -->
            <!-- Our Status ==== -->
            <div class="section-area content-inner section-sp1">
                <div class="container">
                    <div class="section-content">
                        <div class="row">
                            <div class="col-lg-3 col-md-6 col-sm-6 col-6 m-b30">
                                <div class="counter-style-1">
                                    <div class="text-primary">
                                        <span class="counter">3000</span><span>+</span>
                                    </div>
                                    <span class="counter-text">{% trans 'Completed Projects' %}</span>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-6 col-6 m-b30">
                                <div class="counter-style-1">
                                    <div class="text-black">
                                        <span class="counter">2500</span><span>+</span>
                                    </div>
                                    <span class="counter-text">{% trans 'Happy Clients' %}</span>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-6 col-6 m-b30">
                                <div class="counter-style-1">
                                    <div class="text-primary">
                                        <span class="counter">1500</span><span>+</span>
                                    </div>
                                    <span class="counter-text">{% trans 'Questions Answered' %}</span>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-6 col-6 m-b30">
                                <div class="counter-style-1">
                                    <div class="text-black">
                                        <span class="counter">1000</span><span>+</span>
                                    </div>
                                    <span class="counter-text">{% trans 'Ordered Coffees' %}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Our Status END ==== -->
            <!-- About Content ==== -->
            <div class="section-area section-sp2 bg-fix ovbl-dark join-bx text-center"
                 style="background-image:url({% static 'assets/images/background/bg1.jpg' %});">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="join-content-bx text-white">
                                <h2>{% trans 'Learn a new skill online on' %} <br/> {% trans 'your time' %}</h2>

                                <p>{% trans 'Lorem Ipsum is simply dummy text of the printing and typesetting industry. LoremIpsum has been the industrys standard dummy text ever since the 1500s, when an
                                    unknown printer took a galley of type and scrambled it to make a type specimen
                                    book.Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when
                                    an unknown printer took a galley of type and scrambled it to make a type specimen
                                    book.' %}</p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- About Content END ==== -->
            <!-- Testimonials ==== -->
            <div class="section-area section-sp2">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 heading-bx left">
                            <h2 class="title-head text-uppercase">{% trans 'what people' %} <span>{% trans 'say' %}</span></h2>
                            <p>{% trans 'It is a long established fact that a reader will be distracted by the readable content ofa page' %}</p>
                        </div>
                    </div>
                    <div class="testimonial-carousel owl-carousel owl-btn-1 col-12 p-lr0">
                        <div class="item">
                            <div class="testimonial-bx">
                                <div class="testimonial-thumb">
                                    <img src="{% static 'assets/images/testimonials/pic1.jpg' %}" alt="">
                                </div>
                                <div class="testimonial-info">
                                    <h5 class="name">{% trans 'Peter Packer' %}</h5>
                                    <p>-{% trans 'Art Director' %}</p>
                                </div>
                                <div class="testimonial-content">
                                    <p>{% trans 'Lorem Ipsum is simply dummy text of the printing and typesetting industry. LoremIpsum has been the industrys standard dummy text ever since the 1500s, when anunknown printer took a galley of type...' %}</p>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimonial-bx">
                                <div class="testimonial-thumb">
                                    <img src="{% static 'assets/images/testimonials/pic2.jpg' %}" alt="">
                                </div>
                                <div class="testimonial-info">
                                    <h5 class="name">{% trans 'Peter Packer' %}</h5>
                                    <p>-{% trans 'Art Director' %}</p>
                                </div>
                                <div class="testimonial-content">
                                    <p>{% trans 'Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                        Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                                        unknown printer took a galley of type...' %}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Testimonials END ==== -->
        </div>
        <!-- Page Content Box END ==== -->
    </div>
    <!-- Inner Content Box END ==== -->
    <!-- Footer ==== -->
    {% include 'footer.html' %}
    <!-- Footer END ==== -->
    <button class="back-to-top fa fa-chevron-up"></button>
</div>
<!-- External JavaScripts -->
<script src="{% static 'assets/js/jquery.min.js' %}"></script>
<script src="{% static 'assets/vendors/bootstrap/js/popper.min.js' %}"></script>
<script src="{% static 'assets/vendors/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'assets/vendors/bootstrap-select/bootstrap-select.min.js' %}"></script>
<script src="{% static 'assets/vendors/bootstrap-touchspin/jquery.bootstrap-touchspin.js' %}"></script>
<script src="{% static 'assets/vendors/magnific-popup/magnific-popup.js' %}"></script>
<script src="{% static 'assets/vendors/counter/waypoints-min.js' %}"></script>
<script src="{% static 'assets/vendors/counter/counterup.min.js' %}"></script>
<script src="{% static 'assets/vendors/imagesloaded/imagesloaded.js' %}"></script>
<script src="{% static 'assets/vendors/masonry/masonry.js' %}"></script>
<script src="{% static 'assets/vendors/masonry/filter.js' %}"></script>
<script src="{% static 'assets/vendors/owl-carousel/owl.carousel.js' %}"></script>
<script src="{% static 'assets/js/functions.js' %}"></script>
<script src="{% static 'assets/js/contact.js' %}"></script>
<script src='{% static 'assets/vendors/switcher/switcher.js' %}'></script>
<!-- Revolution JavaScripts Files -->
<script src="{% static 'assets/vendors/revolution/js/jquery.themepunch.tools.min.js' %}"></script>
<script src="{% static 'assets/vendors/revolution/js/jquery.themepunch.revolution.min.js' %}"></script>
<!-- Slider revolution 5.0 Extensions  (Load Extensions only on Local File Systems !  The following part can be removed on Server for On Demand Loading) -->
<script src="{% static 'assets/vendors/revolution/js/extensions/revolution.extension.actions.min.js' %}"></script>
<script src="{% static 'assets/vendors/revolution/js/extensions/revolution.extension.carousel.min.js' %}"></script>
<script src="{% static 'assets/vendors/revolution/js/extensions/revolution.extension.kenburn.min.js' %}"></script>
<script src="{% static 'assets/vendors/revolution/js/extensions/revolution.extension.layeranimation.min.js' %}"></script>
<script src="{% static 'assets/vendors/revolution/js/extensions/revolution.extension.migration.min.js' %}"></script>
<script src="{% static 'assets/vendors/revolution/js/extensions/revolution.extension.navigation.min.js' %}"></script>
<script src="{% static 'assets/vendors/revolution/js/extensions/revolution.extension.parallax.min.js' %}"></script>
<script src="{% static 'assets/vendors/revolution/js/extensions/revolution.extension.slideanims.min.js' %}"></script>
<script src="{% static 'assets/vendors/revolution/js/extensions/revolution.extension.video.min.js' %}"></script>
</body>


</html>
