{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">

<head>

    <!-- META ============================================= -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content=""/>
    <meta name="author" content=""/>
    <meta name="robots" content=""/>

    <!-- DESCRIPTION -->
    <meta name="description" content="EduChamp : Education HTML Template"/>

    <!-- OG -->
    <meta property="og:title" content="EduChamp : Education HTML Template"/>
    <meta property="og:description" content="EduChamp : Education HTML Template"/>
    <meta property="og:image" content=""/>
    <meta name="format-detection" content="telephone=no">

    <!-- FAVICONS ICON ============================================= -->
    <link rel="icon" href="{% static 'assets/images/favicon.ico' %}" type="image/x-icon"/>
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/images/favicon.png' %}"/>

    <!-- PAGE TITLE HERE ============================================= -->
    <title>EduChamp : {% trans 'Education home page' %} </title>

    <!-- MOBILE SPECIFIC ============================================= -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--[if lt IE 9]>
    <script src="{% static 'assets/js/html5shiv.min.js' %}"></script>
    <script src="{% static 'assets/js/respond.min.js' %}"></script>
    <![endif]-->

    <!-- All PLUGINS CSS ============================================= -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/assets.css' %}">

    <!-- TYPOGRAPHY ============================================= -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/typography.css' %}">

    <!-- SHORTCODES ============================================= -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/shortcodes/shortcodes.css' %}">

    <!-- STYLESHEETS ============================================= -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/style.css' %}">
    <link class="skin" rel="stylesheet" type="text/css" href="{% static 'assets/css/color/color-1.css' %}">

    <!-- REVOLUTION SLIDER CSS ============================================= -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/vendors/revolution/css/layers.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/vendors/revolution/css/settings.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/vendors/revolution/css/navigation.css' %}">
    <!-- REVOLUTION SLIDER END -->
</head>
<body id="bg">
<div class="page-wraper">
    <div id="loading-icon-bx"></div>
    <!-- Header Top ==== -->
    {% include 'header.html' %}
    <!-- Header Top END ==== -->
    <!-- Content -->
    <div class="page-content bg-white">
        <!-- Main Slider -->
        <div class="rev-slider">
            <div id="rev_slider_486_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container"
                 data-alias="news-gallery36" data-source="gallery"
                 style="margin:0px auto;background-color:#ffffff;padding:0px;margin-top:0px;margin-bottom:0px;">
                <!-- START REVOLUTION SLIDER 5.3.0.2 fullwidth mode -->
                <div id="rev_slider_486_1" class="rev_slider fullwidthabanner" style="display:none;"
                     data-version="5.3.0.2">
                    <ul>    <!-- SLIDE  -->
                        {% for rs in slider %}
                            <li data-index="rs-100"
                                data-transition="parallaxvertical"
                                data-slotamount="default"
                                data-hideafterloop="0"
                                data-hideslideonmobile="off"
                                data-easein="default"
                                data-easeout="default"
                                data-masterspeed="default"
                                data-thumb="error-404.html"
                                data-rotate="0"
                                data-fstransition="fade"
                                data-fsmasterspeed="1500"
                                data-fsslotamount="7"
                                data-saveperformance="off"
                                data-title="A STUDY ON HAPPINESS"
                                data-param1="" data-param2=""
                                data-param3="" data-param4=""
                                data-param5="" data-param6=""
                                data-param7="" data-param8=""
                                data-param9="" data-param10=""
                                data-description="Science says that Women are generally happier">
                                <!-- MAIN IMAGE -->
                                <img src="{{ rs.image.url }}" alt=""
                                     data-bgposition="center center"
                                     data-bgfit="cover"
                                     data-bgrepeat="no-repeat"
                                     data-bgparallax="10"
                                     class="rev-slidebg"
                                     data-no-retina/>

                                <!-- LAYER NR. 1 -->
                                <div class="tp-caption tp-shape tp-shapewrapper "
                                     id="slide-100-layer-1"
                                     data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                                     data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
                                     data-width="full"
                                     data-height="full"
                                     data-whitespace="nowrap"
                                     data-type="shape"
                                     data-basealign="slide"
                                     data-responsive_offset="off"
                                     data-responsive="off"
                                     data-frames='[{"from":"opacity:0;","speed":1,"to":"o:1;","delay":0,"ease":"Power4.easeOut"},{"delay":"wait","speed":1,"to":"opacity:0;","ease":"Power4.easeOut"}]'
                                     data-textAlign="['left','left','left','left']"
                                     data-paddingtop="[0,0,0,0]"
                                     data-paddingright="[0,0,0,0]"
                                     data-paddingbottom="[0,0,0,0]"
                                     data-paddingleft="[0,0,0,0]"
                                     style="z-index: 5;background-color:rgba(2, 0, 11, 0.80);border-color:rgba(0, 0, 0, 0);border-width:0px;"></div>
                                <!-- LAYER NR. 2 -->
                                <div class="tp-caption Newspaper-Title   tp-resizeme"
                                     id="slide-100-layer-2"
                                     data-x="['center','center','center','center']"
                                     data-hoffset="['0','0','0','0']"
                                     data-y="['top','top','top','top']"
                                     data-voffset="['250','250','250','240']"
                                     data-fontsize="['50','50','50','30']"
                                     data-lineheight="['55','55','55','35']"
                                     data-width="full"
                                     data-height="none"
                                     data-whitespace="normal"
                                     data-type="text"
                                     data-responsive_offset="on"
                                     data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
                                     data-textAlign="['center','center','center','center']"
                                     data-paddingtop="[0,0,0,0]"
                                     data-paddingright="[0,0,0,0]"
                                     data-paddingbottom="[10,10,10,10]"
                                     data-paddingleft="[0,0,0,0]"
                                     style="z-index: 6; font-family:rubik; font-weight:700; text-align:center; white-space: normal;">
                                    {{ rs.title }}
                                </div>

                                <!-- LAYER NR. 3 -->
                                <div class="tp-caption Newspaper-Subtitle   tp-resizeme"
                                     id="slide-100-layer-3"
                                     data-x="['center','center','center','center']"
                                     data-hoffset="['0','0','0','0']"
                                     data-y="['top','top','top','top']"
                                     data-voffset="['210','210','210','210']"
                                     data-width="none"
                                     data-height="none"
                                     data-whitespace="nowrap"
                                     data-type="text"
                                     data-responsive_offset="on"
                                     data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
                                     data-textAlign="['left','left','left','left']"
                                     data-paddingtop="[0,0,0,0]"
                                     data-paddingright="[0,0,0,0]"
                                     data-paddingbottom="[0,0,0,0]"
                                     data-paddingleft="[0,0,0,0]"
                                     style="z-index: 7; white-space: nowrap; color:#fff; font-family:rubik; font-size:18px; font-weight:400;">
                                    {% trans 'Batter Education For A Better' %}
                                </div>

                                <!-- LAYER NR. 3 -->
                                <div class="tp-caption Newspaper-Subtitle   tp-resizeme"
                                     id="slide-100-layer-4"
                                     data-x="['center','center','center','center']"
                                     data-hoffset="['0','0','0','0']"
                                     data-y="['top','top','top','top']"
                                     data-voffset="['320','320','320','290']"
                                     data-width="['800','800','700','420']"
                                     data-height="['100','100','100','120']"
                                     data-whitespace="unset"
                                     data-type="text"
                                     data-responsive_offset="on"
                                     data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
                                     data-textAlign="['center','center','center','center']"
                                     data-paddingtop="[0,0,0,0]"
                                     data-paddingright="[0,0,0,0]"
                                     data-paddingbottom="[0,0,0,0]"
                                     data-paddingleft="[0,0,0,0]"
                                     style="z-index: 7; text-transform:capitalize; white-space: unset; color:#fff; font-family:rubik; font-size:18px; line-height:28px; font-weight:400;">
                                    {{ rs.description }}
                                </div>
                                <!-- LAYER NR. 4 -->

                            </li>
                        {% endfor %}
                        <!-- SLIDE  -->
                    </ul>
                </div><!-- END REVOLUTION SLIDER -->
            </div>
        </div>
        <!-- Main Slider -->
        <div class="content-block">

            <!-- Our Services -->

            <!-- Our Services END -->

            <!-- Popular Courses -->
            <div class="section-area section-sp2 popular-courses-bx">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 heading-bx left">
                            <h2 class="title-head">{% trans 'Popular' %} <span>{% trans 'Courses' %}</span></h2>
                            <p>{% trans 'It is a long established fact that a reader will be distracted by the readable content of a page' %}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="courses-carousel owl-carousel owl-btn-1 col-12 p-lr0">

                            {% for rs in course %}
                                <div class="item">
                                    <div class="cours-bx">
                                        <div class="action-box">
                                            <img src="{{ rs.image.url }}" alt="" href="{% url 'course_detail' rs.id rs.slug %}">
                                            <a href="{% url 'course_detail' rs.id rs.slug %}" class="btn">{% trans 'Read More' %}</a>
                                        </div>
                                        <div class="info-bx text-center">
                                            <h5><a href="{% url 'course_detail' rs.id rs.slug %}">{{ rs.title }}</a></h5>
                                            <span>{{ rs.category }}</span>
                                        </div>
                                        <div class="cours-more-info">
                                            <div class="review">
                                                <span>3 {% trans 'Review' %}</span>
                                                <ul class="cours-star">
                                                    <li class="active"><i class="fa fa-star"></i></li>
                                                    <li class="active"><i class="fa fa-star"></i></li>
                                                    <li class="active"><i class="fa fa-star"></i></li>
                                                    <li><i class="fa fa-star"></i></li>
                                                    <li><i class="fa fa-star"></i></li>
                                                </ul>
                                            </div>
                                            <div class="price">
                                                <del>${{ rs.old_price }}</del>
                                                <h5>${{ rs.sell_price }}</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}

                        </div>
                    </div>
                </div>
            </div>
            <!-- Popular Courses END -->

            <!-- Form -->
            <div class="section-area section-sp1 ovpr-dark bg-fix online-cours"
                 style="background-image:url({% static 'assets/images/background/bg1.jpg' %});">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 text-center text-white">
                            <h2>{% trans 'Online Courses To Learn' %}</h2>
                            <h5>{% trans 'Own Your Feature Learning New Skills Online' %}</h5>
                            <form class="cours-search" action="{% url 'search' %}" method="post">
                                {% csrf_token %}
                                <div class="input-group">
                                    <input type="text" name="searched" class="form-control"
                                           placeholder="What do you want to learn today?	">
                                    <div class="input-group-append">
                                        <button class="btn" type="submit">{% trans 'Search' %}</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="mw800 m-auto">
                        <div class="row">
                            <div class="col-md-4 col-sm-6">
                                <div class="cours-search-bx m-b30">
                                    <div class="icon-box">
                                        <h3><i class="ti-user"></i><span class="counter">{{ client_count }}</span></h3>
                                    </div>
                                    <span class="cours-search-text">{% trans 'Over' %} {{ client_count }} {% trans 'student' %}</span>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6">
                                <div class="cours-search-bx m-b30">
                                    <div class="icon-box">
                                        <h3><i class="ti-book"></i><span class="counter">{{ course_count }}</span></h3>
                                    </div>
                                    <span class="cours-search-text">{{  course_count }} {% trans 'Courses' %}.</span>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-12">
                                <div class="cours-search-bx m-b30">
                                    <div class="icon-box">
                                        <h3><i class="ti-layout-list-post"></i><span class="counter">20</span>K</h3>
                                    </div>
                                    <span class="cours-search-text">{% trans 'Learn Anythink Online.' %}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Form END -->
            <div class="section-area section-sp2">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 text-center heading-bx">
                            <h2 class="title-head m-b0">{% trans 'Adversiting' %} </h2>
                            <p class="m-b0">{% trans 'Upcoming Education Events To Feed Brain.' %} </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="upcoming-event-carousel owl-carousel owl-btn-center-lr owl-btn-1 col-12 p-lr0  m-b30">


                            {% for rs in adversiting %}
                            <div class="item">
                                <div class="event-bx">
                                    <div class="action-box">
                                        <img src="{{ rs.image.url }}" alt="">
                                    </div>
                                    <div class="info-bx d-flex">
                                        <div>
                                            <div class="event-time">
                                                <div class="event-date"></div>
                                                <div class="event-month"></div>
                                            </div>
                                        </div>
                                        <div class="event-info">
                                            <h4 class="event-title">{{ rs.title }}</h4>
                                            <ul class="media-post">
                                                <li><i class="fa fa-clock-o"></i>{{rs.create_at }}</li>
                                                {% for rs in info %}
                                                <li><i class="fa fa-map-marker"></i>{{ rs.city }}, {{ rs.country }}
                                                {% endfor %}
                                                </li>
                                            </ul>
                                            <p>{{ rs.description }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}



                        </div>
                    </div>
                    <div class="text-center">
                        <a href="{% url 'blog' %}" class="btn">{% trans 'View All Event' %}</a>
                    </div>
                </div>
            </div>

            <!-- Testimonials -->
            <div class="section-area section-sp2 bg-fix ovbl-dark"
                 style="background-image:url({% static 'assets/images/background/bg1.jpg' %});">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 text-white heading-bx left">
                            <h2 class="title-head text-uppercase">{% trans 'what people' %} <span>{% trans 'say' %}</span></h2>
                            <p>{% trans 'It is a long established fact that a reader will be distracted by the readable content of a page' %}</p>
                        </div>
                    </div>
                    <div class="testimonial-carousel owl-carousel owl-btn-1 col-12 p-lr0">
                        <div class="item">
                            <div class="testimonial-bx">
                                <div class="testimonial-thumb">
                                    <img src="{% static 'assets/images/testimonials/pic1.jpg' %}" alt="">
                                </div>
                                <div class="testimonial-info">
                                    <h5 class="name">Peter Packer</h5>
                                    <p>-{% trans 'Art Director' %}</p>
                                </div>
                                <div class="testimonial-content">
                                    <p>{% trans "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type..." %}</p>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimonial-bx">
                                <div class="testimonial-thumb">
                                    <img src="{% static 'assets/images/testimonials/pic2.jpg' %}" alt="">
                                </div>
                                <div class="testimonial-info">
                                    <h5 class="name">Peter Packer</h5>
                                    <p>-{% trans 'Web Designer' %}</p>
                                </div>
                                <div class="testimonial-content">
                                    <p>{% trans "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type..." %}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Testimonials END -->

            <!-- Recent News -->
            <div class="section-area section-sp2">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 heading-bx left">
                            <h2 class="title-head">{% trans 'Recent' %} <span>{% trans 'News' %}</span></h2>
                            <p>{% trans 'It is a long established fact that a reader will be distracted by the readable content of a page' %}</p>
                        </div>
                    </div>
                    <div class="recent-news-carousel owl-carousel owl-btn-1 col-12 p-lr0">
                        {% for rs in blog %}
                            <div class="item">
                                <div class="recent-news">
                                    <div class="action-box">
                                        <img src="{{ rs.image.url }}" alt="">
                                    </div>
                                    <div class="info-bx">
                                        <ul class="media-post">
                                            <li><a href="#"><i class="fa fa-calendar"></i>{{ rs.creat_at }}</a></li>
                                            <li><a href="#"><i class="fa fa-user"></i>By Admin</a></li>
                                        </ul>
                                        <h5 class="post-title"><a
                                                href="{% url 'blog_detail' rs.id %}">{{ rs.title }}</a></h5>
                                        <p>{{ rs.description }}</p>
                                        <div class="post-extra">
                                            <a href="#" class="btn-link">{% trans 'READ MORE' %}</a>
                                            <a href="#" class="comments-bx"><i class="fa fa-comments-o"></i>20
                                                {% trans 'Comment' %}</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <!-- Recent News End -->

        </div>
        <!-- contact area END -->
    </div>
    <!-- Content END-->
    <!-- Footer ==== -->
    {% include 'footer.html' %}
    <!-- Footer END ==== -->
    <button class="back-to-top fa fa-chevron-up"></button>
</div>

<!-- External JavaScripts -->
<script src="{% static 'assets/js/jquery.min.js' %}"></script>
<script src="{% static 'assets/vendors/bootstrap/js/popper.min.js' %}"></script>
<script src="{% static 'assets/vendors/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'assets/vendors/bootstrap-select/bootstrap-select.min.js' %}"></script>
<script src="{% static 'assets/vendors/bootstrap-touchspin/jquery.bootstrap-touchspin.js' %}"></script>
<script src="{% static 'assets/vendors/magnific-popup/magnific-popup.js' %}"></script>
<script src="{% static 'assets/vendors/counter/waypoints-min.js' %}"></script>
<script src="{% static 'assets/vendors/counter/counterup.min.js' %}"></script>
<script src="{% static 'assets/vendors/imagesloaded/imagesloaded.js' %}"></script>
<script src="{% static 'assets/vendors/masonry/masonry.js' %}"></script>
<script src="{% static 'assets/vendors/masonry/filter.js' %}"></script>
<script src="{% static 'assets/vendors/owl-carousel/owl.carousel.js' %}"></script>
<script src="{% static 'assets/js/functions.js' %}"></script>
<script src="{% static 'assets/js/contact.js' %}"></script>
<script src='{% static 'assets/vendors/switcher/switcher.js' %}'></script>
<!-- Revolution JavaScripts Files -->
<script src="{% static 'assets/vendors/revolution/js/jquery.themepunch.tools.min.js' %}"></script>
<script src="{% static 'assets/vendors/revolution/js/jquery.themepunch.revolution.min.js' %}"></script>
<!-- Slider revolution 5.0 Extensions  (Load Extensions only on Local File Systems !  The following part can be removed on Server for On Demand Loading) -->
<script src="{% static 'assets/vendors/revolution/js/extensions/revolution.extension.actions.min.js' %}"></script>
<script src="{% static 'assets/vendors/revolution/js/extensions/revolution.extension.carousel.min.js' %}"></script>
<script src="{% static 'assets/vendors/revolution/js/extensions/revolution.extension.kenburn.min.js' %}"></script>
<script src="{% static 'assets/vendors/revolution/js/extensions/revolution.extension.layeranimation.min.js' %}"></script>
<script src="{% static 'assets/vendors/revolution/js/extensions/revolution.extension.migration.min.js' %}"></script>
<script src="{% static 'assets/vendors/revolution/js/extensions/revolution.extension.navigation.min.js' %}"></script>
<script src="{% static 'assets/vendors/revolution/js/extensions/revolution.extension.parallax.min.js' %}"></script>
<script src="{% static 'assets/vendors/revolution/js/extensions/revolution.extension.slideanims.min.js' %}"></script>
<script src="{% static 'assets/vendors/revolution/js/extensions/revolution.extension.video.min.js' %}"></script>
<script>
    jQuery(document).ready(function () {
        var ttrevapi;
        var tpj = jQuery;
        if (tpj("#rev_slider_486_1").revolution == undefined) {
            revslider_showDoubleJqueryError("#rev_slider_486_1");
        } else {
            ttrevapi = tpj("#rev_slider_486_1").show().revolution({
                sliderType: "standard",
                jsFileLocation: "assets/vendors/revolution/js/",
                sliderLayout: "fullwidth",
                dottedOverlay: "none",
                delay: 9000,
                navigation: {
                    keyboardNavigation: "on",
                    keyboard_direction: "horizontal",
                    mouseScrollNavigation: "off",
                    mouseScrollReverse: "default",
                    onHoverStop: "on",
                    touch: {
                        touchenabled: "on",
                        swipe_threshold: 75,
                        swipe_min_touches: 1,
                        swipe_direction: "horizontal",
                        drag_block_vertical: false
                    }
                    ,
                    arrows: {
                        style: "uranus",
                        enable: true,
                        hide_onmobile: false,
                        hide_onleave: false,
                        tmp: '',
                        left: {
                            h_align: "left",
                            v_align: "center",
                            h_offset: 10,
                            v_offset: 0
                        },
                        right: {
                            h_align: "right",
                            v_align: "center",
                            h_offset: 10,
                            v_offset: 0
                        }
                    },

                },
                viewPort: {
                    enable: true,
                    outof: "pause",
                    visible_area: "80%",
                    presize: false
                },
                responsiveLevels: [1240, 1024, 778, 480],
                visibilityLevels: [1240, 1024, 778, 480],
                gridwidth: [1240, 1024, 778, 480],
                gridheight: [768, 600, 600, 600],
                lazyType: "none",
                parallax: {
                    type: "scroll",
                    origo: "enterpoint",
                    speed: 400,
                    levels: [5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 46, 47, 48, 49, 50, 55],
                    type: "scroll",
                },
                shadow: 0,
                spinner: "off",
                stopLoop: "off",
                stopAfterLoops: -1,
                stopAtSlide: -1,
                shuffle: "off",
                autoHeight: "off",
                hideThumbsOnMobile: "off",
                hideSliderAtLimit: 0,
                hideCaptionAtLimit: 0,
                hideAllCaptionAtLilmit: 0,
                debugMode: false,
                fallbacks: {
                    simplifyAll: "off",
                    nextSlideOnWindowFocus: "off",
                    disableFocusListener: false,
                }
            });
        }
    });
</script>
</body>

</html>
